<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>429 | Too many requests</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico" />
  </head>
  <body>
    <div class="too-many">
      <h1>429</h1>
      <p>
        Oops! You went out of requests. You have been sending too many requests
        on this server!
      </p>
      <div class="buttons">
        <a href="/">Go Back Home</a>
      </div>
    </div>
  </body>
</html>
