<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 | Internal Server Error</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico" />
  </head>
  <body>
    <div class="internal-server">
      <h1>500</h1>
      <p>Oops! Something went wrong on our server. Please try again later.</p>
      <div class="buttons">
        <a href="/">Go Back Home</a>
        <a href="javascript:location.reload()" class="retry">Retry</a>
      </div>
    </div>
  </body>
</html>
